body {
    display: flex;
    justify-content: center;
    background-color: rgb(35,31,32);
}

section {
    border: solid 1px;

}

#canvas {
   display: none;
}

#game-canvas {
    width: 450;
    height: 450;
}

#start-game {
    position: absolute;
}

#menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#restart {
    display: none;
    position: absolute;
}

h2 {
    font-size: 1em;
}

.game-section {
    width: 250px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}
.game-section p {
    width: 250px;
}

#score {
    display: none;
}

h1, h2, p {
    color: rgb(97, 126, 142);
}

h2 {
    font-size: 1.5em;
}

#won-game{
    display:none;
}
